<div class="container-fluid">
  <div align="center">
    <%= link_to image_tag("luckydiplogo2.png"), root_path %>
    <br>
    <h2>App Features</h2>
  </div>
    <br>
  <div class="card">
  <div class="card-block" style="text-align:center; background-color:lightgray">
    Lucky Dip is an activity and location finder app designed specifically for Sunshine Coast, Queensland, Australia. Use the app to quickly find locations and events around the Sunny Coast. Check out demos of the app below to see the features it offers!
  </div>
</div>
  <div class="row">
    <div class="container-fluid">
    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="container">
        <h4>App Promo</h4>
        <p>Kids love to find new locations with Lucky Dip!</p>
        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fluckydipapp%2Fvideos%2F320815601682490%2F&show_text=0&width=560" width="350" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true">
        </iframe>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="container">
            <h4>Save Locations</h4>
            <p>Users can search locations and save their favourites for later!</p>
            <iframe class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fluckydipapp%2Fvideos%2F324511294646254%2F&show_text=0&width=560" width="350" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true">
            </iframe>
          </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="container">
        <h4>Search Locations</h4>
        <p>Lucky Dip allows you to find locations to fit your mood by selecting an activity and location type and searching within a certain radius from home.</p>
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fluckydipapp%2Fvideos%2F322178274879556%2F&show_text=0&width=225" width="225" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true">
          </iframe>
          
      </div>
      </div>
  </div>
  <br>
  <div class="row">
    
    </div>
   </div>
  </div>
<div align="center"><%= link_to "Back", root_path %></div>
</div>