<div class="container-fluid">
  <div align="center">
    <%= link_to image_tag("luckydiplogo2.png"), root_path %>
    <br>
    <h2>App Features</h2>
  </div>
    <br>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="container">
        <h4>App Promo</h4>
        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fluckydipapp%2Fvideos%2F320815601682490%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true">
        </iframe>
        <p>Kids love to find new locations with Lucky Dip!</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="container">
            <h4>Save Locations</h4>
            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fluckydipapp%2Fvideos%2F324511294646254%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true">
            </iframe>
            <p>Users can search locations and save their favourites for later!</p>
          </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="container">
        <h4>Search Locations</h4>
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fluckydipapp%2Fvideos%2F322178274879556%2F&show_text=0&width=225" width="225" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true">
          </iframe>
          <p>Lucky Dip allows you to find locations to fit your mood by selecting an activity and location type and searching within a certain radius from home.</p>
      </div>
      </div>
    
   </div>
  </div>
<div align="center"><%= link_to "Back", root_path %></div>
</div>