<div class="container-fluid">
<p>

<div class="row">
   <div align="center"><%= link_to image_tag("luckydiplogo2.png") %>
   </div>
</div>

<div class="row">
  <div align="center">
  <h1>Where will your luck take you?</h1>
  </div>
</div>


</div>
<p>
<div class="row">
  <div align="center"><%= link_to 'Go!', new_dip_path, class: "btn btn-primary btn-lg" %>
</div>
<br>

</div>

