<p>
<div class="container-fluid">
  <div align="center">
    <div class> <!--="card" style="max-width: 50rem;">-->
      <p>
      
      <h1><%= link_to image_tag("luckydiplogo2.png") %></h1>
       <p>

      <%= render 'form', dip: @dip %>
      <p>
      <p>
     <%#= link_to 'Back', root_path %> 

    </div>
  </div>
</div>