<p>
<div class="container">
  <div align="center">
    <%= link_to image_tag("luckydip.png", alt: "LuckyDip logo") %>
    <p>
    <div class="card" style="max-width: 50rem;">
      <p>
      <h1>Review a Location</h1>
       <p>
      <%= render 'form', review: @review %>
      <p>
      <p>
     <%= link_to 'Back', locations_path %>
    </div>
  </div>
</div>
