<p>
<div class="container">
  <div align="center">
    <%= link_to image_tag("luckydiplogo2.png") %>
    <p>
   
      <h1>Leave a Review for <%= @location.name %></h1>
       <p>
      <%= render 'form', review: @review %>
      <p>
      <p>
     <%= link_to 'Back', completed_visits_path %>
    </div>
  </div>
</div>
