<div class="container">
  <h1 class>Saved Locations</h1>

  <div class="container">
  <% @locations.each do |location| %>
      <h3><%= location.name %></h3>
      <p><%= location.address %></p>

      <p><strong>Distance Away:</strong></p>
     </div>
   </div>
  <% end %>
  </div>
</div>