<div class="container">
  <h1 class>Saved Locations</h1>

  <div class="container">
  <% @locations.each do |location| %>
  <p>
  <div class="card" style="width: 20rem;">
    <div class="card-block">
      <h3><%= link_to location.name, location %></h3>
   
      <p><%= location.address %></p>

      <p><strong>Distance Away:</strong></p>
    
    <%= link_to 'Leave a Review', new_review_path, class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>  
  
  </div>

  
</div>